<%= form_with(model: manga) do |form| %>
  <div>
    <%= form.label :external_id, style: "display: block" %>
    <%= form.text_field :external_id, required: true %>
  </div>

  <div>
    <%= form.label :source, style: "display: block" %>
    <%= form.collection_select :source, Manga::SOURCES.keys.sort, :to_s, :to_s, {include_blank: false} %>
  </div>

  <div>
    <%= form.label :notifier_ids, style: "display: block" %>
    <%= form.collection_select :notifier_ids, Notifier.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div>
    <%= form.label :chapter_number_regex, style: "display: block" %>
    <%= form.text_field :chapter_number_regex, required: true %>
  </div>

  <div>
    <%= form.label :anilist_id, style: "display: block" %>
    <%= form.number_field :anilist_id, required: true %>
  </div>

  <% if manga.persisted? %>
    <div>
      <%= form.label :image, style: "display: block" %>
      <%= form.text_field :image, required: true %>
    </div>
  <% end %>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active, checked: manga.active? %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
