<div id="<%= dom_id manga %>">
  <center>
    <img src="<%= manga.image %>" class="rounded" max-width="200px" width="200px" alt="<%= manga.name %> Poster">
    <br/>
    <br/>
    <h1><%= manga.name %></h1>
  </center>

  <p>
    <strong>Last chapter:</strong>
    <%= manga.last_chapter %>
  </p>

  <p>
    <strong>Last refreshed:</strong>
    <%= manga.last_refreshed %>
  </p>

  <%= button_to "Refresh", refresh_manga_path(manga), method: :post, class: "btn btn-primary" %>
  <%= button_to "<i class='bi bi-trash3-fill'></i>".html_safe, manga, method: :delete, class: "btn btn-danger" %>

</div>
