<div id="<%= dom_id manga %>">
  <p>
    <strong>Name:</strong>
    <%= manga.name %>
  </p>

  <p>
    <strong>External:</strong>
    <%= manga.external_id %>
  </p>

  <p>
    <strong>Last chapter:</strong>
    <%= manga.last_chapter %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= manga.source %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= manga.image %>
  </p>

  <p>
    <strong>Last refreshed:</strong>
    <%= manga.last_refreshed %>
  </p>

</div>
