<p style="color: green"><%= notice %></p>

<%= link_to "New manga", new_manga_path, class: "btn btn-primary" %>
<button type="button" class="btn btn-primary" disabled>Refresh all</button>

<div id="mangas">
  <% @mangas.each do |manga| %>
    <div class="chip-card">
      <div class="display-flex">
        <div class="chip-img" style="background-image: url('<%= manga.image %>');"></div>
        <div>
          <div class="chip-name-wrapper">
            <h5><%= manga.name %></h5>
          </div>
          <p>
            <small class="text-muted"><strong>Last chapter:</strong> <%= manga.last_chapter %></small>
          </p>
          <p>
            <small class="text-muted"><strong>Last refresh:</strong> <%= manga.last_refreshed.strftime("%d/%m/%Y %H:%M") %></small>
          </p>
          <div class="display-flex">
            <%= link_to "<i class='bi bi-eye-fill'></i>".html_safe, manga, class: "btn btn-primary" %>
            <%= button_to "<i class='bi bi-trash3-fill'></i>".html_safe, manga, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
