<div id="mangas" class="allManga" data-controller="custom-colour">
  <% @mangas.each do |manga| %>

    <div class="zebraMode mangaIndex position-relative">
      <div class="mangaIndex-innerContainer container-fluid display-flex">
        <div class="mangaIndex-coverImg" style="background-image: url('<%= image_manga_path(manga) %>');" data-custom-colour-target="border" data-colour="<%= manga.hex_colour_code %>"></div>
        <div class="mangaIndex-details">
          <h1 class="mangaIndex-name" data-custom-colour-target="border" data-colour="<%= manga.hex_colour_code %>"><b><%= manga.name %></b></h1>
          <div class="mangaIndex-values" data-custom-colour-target="border" data-colour="<%= manga.hex_colour_code %>">
            <p><strong>Last chapter:</strong> <%= manga.last_chapter %></p>
            <p><strong>Last refresh:</strong> <%= refreshed_ago(manga.last_refreshed) %> ago</p>
          </div>
          <div class="display-flex flex-wrap" style="gap: 8px;">
            <% data = {custom_colour_target: "border", colour: manga.hex_colour_code}%>
            <%= link_to "<i class='mangaIndex-btnIcon bi bi-eye-fill'></i>".html_safe, manga, class: "mangaIndex-btn", data: %>
            <%= link_to "<i class='mangaIndex-btnIcon bi bi-pencil-fill'></i>".html_safe, edit_manga_path(manga), class: "mangaIndex-btn", data: %>
            <%= button_to "<i class='mangaIndex-btnIcon bi bi-arrow-repeat'></i>".html_safe, refresh_manga_path(manga), method: :post, class: "mangaIndex-btn", data: %>
            <%= button_to "<i class='mangaIndex-btnIcon bi bi-trash3-fill'></i>".html_safe, manga, method: :delete, class: "mangaIndex-btn", data: data.merge({turbo_confirm: "Are you sure?"}) %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
