<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Manga Notifier</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= mangas_url %>">Manage</a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="<%= notifiers_url %>">Notifiers</a>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Add a manga", new_manga_path, class: "nav-link active" %>
          </li>
          <li>
            <%= button_to "Refresh all", refresh_all_mangas_path, method: :post, class: "nav-link active border-0 bg-light" %>
          </li>
        <% end %>
        <li>
          <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active border-0 bg-light" %>
          <% else %>
            <a class="nav-link active" aria-current="page" href="<%= new_user_session_path %>">Login</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
