<!DOCTYPE html>
<html>
  <head>
    <title>ManganotifierRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <main>
      <% if notice %>
        <div style="position: absolute; margin: 20px; padding: 20px; bottom: 0; right: 0; background-color: whitesmoke; border-radius: 5px; border: 2px solid black;"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div style="position: absolute; margin: 20px; padding: 20px; bottom: 0; right: 0; background-color: whitesmoke; border-radius: 5px; border: 2px solid black;"><%= alert %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
